body {
  background-color:white;
  cursor: default;
}

h2 {
  font-family: 'futura', san-serif;
  font-weight: 700;
  font-size: 2rem;
  color: darkslateblue;
}

@media only screen and (max-width: 649px) {
 h2 {
   font-size: 1rem;
 } 
}
